body {
    padding: 80px 50px;
    background-color: #1c1b21; 
    text-align: center;
}

.image-wrapper {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 100px;
    cursor: pointer;
}

.image-wrapper img {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 10px;
}

.image-wrapper:hover {
    transform: rotate(360deg);
    transform-origin: 50% 50% 0;
    transition: 2s;
}

.image-wrapper:hover img {
    background-color: rgb(225, 166, 70, 0.6);
    box-shadow: 0 0 45px #d5a75c;
    transition: 2.5s;
}